@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Sedan+SC&display=swap');

body{
    background-color: #011a47;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    background-attachment: fixed;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100%;
    color:#00112a;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: linear-gradient(90deg,#000048 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
            background-clip: text;
    animation: l7 5s infinite steps(11);
    align-items: center;
  }
  @keyframes l7 {to{background-position: left}}

/* Estilos barra */
.inicio{
    display: flex;
    justify-content: center;
}
.barra{
    width:100%;
}
.inicio_texto{
    color: white;
    width: fit-content;
    text-align: center;
    background-color: #00112a;
    text-shadow: 1px 1px 5px black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

a:link{
    text-decoration: none;
}

.inicio_texto:hover{
    background-color: #0a0168;
    cursor: pointer;
}
/* Estilos título e imágenes */
.hdr{
    display: flex;
    align-items: center;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
/* Media query para el título con los logos */
@media only screen and (max-width: 992px){
    .hdr_img{
        margin: auto;
        width: 30%;
    }
    .hdr{
        margin: auto;
        width: 30%;
        font-size:1rem;
    }

    .fields{
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.fields{
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(1, 11, 69, 0.953), 
    0 4px 6px rgba(1, 11, 69, 0.953);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.823);
    margin-top: 25px;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 4%;
    backdrop-filter: blur(2px);
    margin-bottom: 15%;
    /*box-shadow: 1px 1px 5px black;*/
}

.fields:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(248, 245, 245, 0.15), 
                0 10px 10px rgba(249, 248, 248, 0.1);
}

#prom_valid{
    display: none;
    color:red;
}

#chk_valid{
    color:red;
    text-align: center;
}

#administrador{
    color:#000b23;
    font-size: 40px;
    text-align: center;
    height: 50px;
    margin-bottom: 3%;
    text-shadow: 1px 1px 30px rgba(1, 1, 39, 0.585);
}

.barra_buscar{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 3%;
    height: 110px;
    backdrop-filter: blur(2px);
    margin-bottom: 3%;
}

#Tcabecera{
    color: rgb(66, 66, 66);
    text-align: center;
    margin-bottom: 2%;
}

table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.editar_eliminar_visualizar{
    display: block;
    width: 120px;
    height: auto;
}

#AgrCabecera{
    color:rgb(48, 48, 48);
    text-align: center;
    margin-bottom:4%;
}

textarea {
    resize: none; /* Evita que el textarea sea redimensionable */
}

#formulario{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    height: auto;
    padding: 4%;
    backdrop-filter: blur(2px);
    margin-bottom: 15%;
    /*box-shadow: 1px 1px 5px black;*/
}

.botones{
    color: white;
    display: block;
    width: auto;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 10%;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

label{
    display: flex;
    align-items: center;
}

.contenido{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 3%;
    backdrop-filter: blur(2px);
    margin-bottom: 3%;
}

#tam1{
    margin-left: 50px;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: flex;
    align-items: center;
    background-color: #4b1401;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    animation: l24 5s infinite alternate linear;
  }
  .loader::before {
    text-align: center;
    position: absolute;
    display: block;
    content: "Panel de Busqueda";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side,#fff 94%,#05003c);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l24{
    100%{background-position: left}
  }

.alinear{
    width: 100%;
    padding-bottom: 15px;
}

/* HTML: <div class="loader"></div> */
.loader1 {
    color: rgb(0, 24, 45);
    width: 100%;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 4s linear infinite;
    margin-bottom: 10px;
  }
  @keyframes l2 {to{background-size: 100% 3px}}

  .esp{
    margin-top: 15px;
    height: 35px;
    width: 100px;
    background-color: #011a47;
  }

#ajuste{
  width: auto;
  height: auto;
}   

.esp1{
    margin-bottom: 3px;
    text-align: center;
}

#color{
    color: #fff;
}