@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Básicamente la que contiene a todo */
.present_card{
    margin-top: 4%;
}
/* Titulo de bienvenido */
#bienvenido{
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}
#letras_adm{
    color: #800040;
    text-shadow: 1px 1px 3px white;
}
/* Media para imagenes porque si no quedan feas */
@media only screen and (max-width: 992px){
    .hdr_img{
        margin: auto;
        width: 30%;
    }
}

.loader {
    --c:#001038;
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: #efebeb00;
    overflow: hidden;
    text-shadow: 0 0 var(--c),10ch 0 var(--c);
    animation: l15 6s infinite linear;
  }
  .loader:before {
    content:"Sistema de Gestion de Trabajos de Titulacion  "
  }
  @keyframes l15 {to{text-shadow:-15ch 0 var(--c),15ch 0 var(--c)}}

/* Solo el div de los botones */
.buttons{
    margin-top: 7%;
    margin-bottom: 30%;
}

.botones {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.045em;
}

.botones svg {
    position: absolute;
    top: 0;
    left: 0;
}

.botones svg rect {
    stroke: #f0eff3;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.botones span{
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(left,  rgb(239, 239, 244) 0%, rgb(246, 246, 250) 100%);
  background: -webkit-linear-gradient(left,  rgb(245, 246, 249) 0%,rgb(246, 246, 250    ) 100%);
  background: linear-gradient(to right,  rgb(224, 224, 236) 0%,rgb(4, 34, 114) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botones:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    justify-content: center;
}

.recupera{
    display: flex;
    justify-content: center;
}

#formulario{
    color:white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(53, 53, 53, 0.719);
    margin-top: 7%;
    margin-bottom: 24%;
    padding: 5%;
}

#form_recupera{
    color:white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.448);
    margin-top: 7%;
    margin-bottom: 24%;
    padding: 5%;
}

.lbl{
    text-shadow: 1px 1px 3px black;
}

.err_cred{
    color: red;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

label{
    display: flex;
    align-items: center;
}

.flecha{
    margin-right: 5px;
}

#recuperation{
    bottom: 330px;
    color: #65B2C6;
}

#tam{
    height: 20px;
    width: 20px;
}

#tam1{
    display: flex;
    align-items: auto;
    margin-top: 100px;
    width: 100%;
}

.tamanio {
    display: flex;
    align-items: auto;
}

.loader, .letra{
font-family: "Cinzel", serif;
font-size: 35px;
margin-top: 15px;
}

.col{
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 20px;
    padding: 3px;
    margin-top: 10px;
}